<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="POSStore">
            <Component Id="cmpB390CD138EA3F8F28243C33AA643362C" Guid="{0351D14A-C6F3-4EE5-8780-F848D2BCA28F}">
                <File Id="fil167B830630B910EC68ED95CDC73B8317" KeyPath="yes" Source="$(var.BasePath)\DataWrapper.dll" />
            </Component>
            <Component Id="cmpA1DADE033DA086D6F50350CADED089E2" Guid="{C282DD5B-3A9E-44D6-B9B2-4337CED26D5B}">
                <File Id="filD1DB8A91D1AC9109C52AB454AFA6942E" KeyPath="yes" Source="$(var.BasePath)\DataWrapper.pdb" />
            </Component>
            <Component Id="cmp0C6193128DFDCF67C2EDFFE1FE411796" Guid="{C00866B7-F130-4562-9AA5-6CD57D8ECFAD}">
                <File Id="fil123BCB4AE7F8B4068EFD6B3B87B93F74" KeyPath="yes" Source="$(var.BasePath)\POSStore.deps.json" />
            </Component>
            <Component Id="cmp72B786692EF88A61235E73E80FDE4DC4" Guid="{F5C4A377-0BC5-4E3A-80FE-874C83139A90}">
                <File Id="filB9ED1844A5F459A026FB94F30F3EB553" KeyPath="yes" Source="$(var.BasePath)\POSStore.dll" />
            </Component>
            <Component Id="cmp9ED5873F52A382AFFBBF393B127F5AEB" Guid="{D1BDDC21-45EC-4041-AA67-E1CE8ADCC6A3}">
                <File Id="filDD49A057959B82C73D7A1237F4D2B3A1" KeyPath="yes" Source="$(var.BasePath)\POSStore.exe" />
            </Component>
            <Component Id="cmp23933E3CE783FCE27D79FA80EAC727C0" Guid="{5594031B-15C9-43FC-9E9A-130745AB21E8}">
                <File Id="fil7DCF11FBA4F0D4CD34982EEB28FA40E1" KeyPath="yes" Source="$(var.BasePath)\POSStore.pdb" />
            </Component>
            <Component Id="cmpD372131F3D2197454CE0640C9C5D83C5" Guid="{6F1250CF-18CB-4255-927B-77CA17B73A72}">
                <File Id="fil1C4D95C0A11892BC1038ADDF820F37D0" KeyPath="yes" Source="$(var.BasePath)\POSStore.runtimeconfig.json" />
            </Component>
            <Component Id="cmp86E320355224528281F6C78452CB8B72" Guid="{9384CF03-4042-4A04-BE15-ADC7B1C0CD11}">
                <File Id="filF6B84AEF7D37F69F07A1FC4F20583224" KeyPath="yes" Source="$(var.BasePath)\sni.dll" />
            </Component>
            <Component Id="cmpE8DB306F64D4EE68557150AA220EF63F" Guid="{2E59F5E0-95B1-4CC7-B7FA-C907A828F56E}">
                <File Id="fil103955103638FC06D00ECACB511C180F" KeyPath="yes" Source="$(var.BasePath)\System.Data.SqlClient.dll" />
            </Component>
            <Component Id="cmp32D69FB6561ED0BD64D8F18829B10663" Guid="{95392789-668E-41EB-B01F-65DC1971AF3D}">
                <File Id="filC845D905E11856CBCE480E8041867687" KeyPath="yes" Source="$(var.BasePath)\XMLReportGenerator.dll" />
            </Component>
            <Component Id="cmp01F0955ED006F50E8F0A9C885433A9B2" Guid="{213CB1B8-82B2-4C18-9F6A-75F232FEAB78}">
                <File Id="filADA49C8ECFB12433B02A629B2A96F0ED" KeyPath="yes" Source="$(var.BasePath)\XMLReportGenerator.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpB390CD138EA3F8F28243C33AA643362C" />
            <ComponentRef Id="cmpA1DADE033DA086D6F50350CADED089E2" />
            <ComponentRef Id="cmp0C6193128DFDCF67C2EDFFE1FE411796" />
            <ComponentRef Id="cmp72B786692EF88A61235E73E80FDE4DC4" />
            <ComponentRef Id="cmp9ED5873F52A382AFFBBF393B127F5AEB" />
            <ComponentRef Id="cmp23933E3CE783FCE27D79FA80EAC727C0" />
            <ComponentRef Id="cmpD372131F3D2197454CE0640C9C5D83C5" />
            <ComponentRef Id="cmp86E320355224528281F6C78452CB8B72" />
            <ComponentRef Id="cmpE8DB306F64D4EE68557150AA220EF63F" />
            <ComponentRef Id="cmp32D69FB6561ED0BD64D8F18829B10663" />
            <ComponentRef Id="cmp01F0955ED006F50E8F0A9C885433A9B2" />
        </ComponentGroup>
    </Fragment>
</Wix>