<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="POSStore">
            <Component Id="cmpB390CD138EA3F8F28243C33AA643362C" Guid="{ED876012-DEE2-4B85-93DC-CBDAA249006E}">
                <File Id="fil167B830630B910EC68ED95CDC73B8317" KeyPath="yes" Source="$(var.BasePath)\DataWrapper.dll" />
            </Component>
            <Component Id="cmpA1DADE033DA086D6F50350CADED089E2" Guid="{B9D06481-F1C0-4CFA-BC33-B846266BFFB6}">
                <File Id="filD1DB8A91D1AC9109C52AB454AFA6942E" KeyPath="yes" Source="$(var.BasePath)\DataWrapper.pdb" />
            </Component>
            <Component Id="cmp0C6193128DFDCF67C2EDFFE1FE411796" Guid="{A5FBC807-F9D2-423B-87FF-5D4DFF521F18}">
                <File Id="fil123BCB4AE7F8B4068EFD6B3B87B93F74" KeyPath="yes" Source="$(var.BasePath)\POSStore.deps.json" />
            </Component>
            <Component Id="cmp72B786692EF88A61235E73E80FDE4DC4" Guid="{2C585140-320B-4D48-AB8A-68C20E09FCDF}">
                <File Id="filB9ED1844A5F459A026FB94F30F3EB553" KeyPath="yes" Source="$(var.BasePath)\POSStore.dll" />
            </Component>
            <Component Id="cmp9ED5873F52A382AFFBBF393B127F5AEB" Guid="{E440A804-241C-435C-AA40-93216A5A3BE8}">
                <File Id="filDD49A057959B82C73D7A1237F4D2B3A1" KeyPath="yes" Source="$(var.BasePath)\POSStore.exe" />
            </Component>
            <Component Id="cmp23933E3CE783FCE27D79FA80EAC727C0" Guid="{FF11052D-8E88-456C-9F09-B1B687691B03}">
                <File Id="fil7DCF11FBA4F0D4CD34982EEB28FA40E1" KeyPath="yes" Source="$(var.BasePath)\POSStore.pdb" />
            </Component>
            <Component Id="cmpD372131F3D2197454CE0640C9C5D83C5" Guid="{34AB131F-2F35-4E23-8A29-8FF268670637}">
                <File Id="fil1C4D95C0A11892BC1038ADDF820F37D0" KeyPath="yes" Source="$(var.BasePath)\POSStore.runtimeconfig.json" />
            </Component>
            <Component Id="cmp0FF1E35337B1530198AA421C5CB09066" Guid="{740F73F2-22C4-494F-9C21-0623AB708320}">
                <File Id="filC163252CCB9607CBABADA6A31A53DBF1" KeyPath="yes" Source="$(var.BasePath)\registryData.dll" />
            </Component>
            <Component Id="cmp4244B5C2319190BFFE1B080081185B59" Guid="{26CE7D10-849E-47A5-AF3C-65015176E90E}">
                <File Id="fil26D53951608F0F9926A47554E414163A" KeyPath="yes" Source="$(var.BasePath)\registryData.pdb" />
            </Component>
            <Component Id="cmp86E320355224528281F6C78452CB8B72" Guid="{36667636-BEDA-4F04-B5D5-DF9693DCC8AA}">
                <File Id="filF6B84AEF7D37F69F07A1FC4F20583224" KeyPath="yes" Source="$(var.BasePath)\sni.dll" />
            </Component>
            <Component Id="cmpE8DB306F64D4EE68557150AA220EF63F" Guid="{7D89AAAB-2DB3-4150-BB8E-372BD56D33A1}">
                <File Id="fil103955103638FC06D00ECACB511C180F" KeyPath="yes" Source="$(var.BasePath)\System.Data.SqlClient.dll" />
            </Component>
            <Component Id="cmp32D69FB6561ED0BD64D8F18829B10663" Guid="{076BCFA9-9043-4BEF-A66F-D01392E6E2BF}">
                <File Id="filC845D905E11856CBCE480E8041867687" KeyPath="yes" Source="$(var.BasePath)\XMLReportGenerator.dll" />
            </Component>
            <Component Id="cmp01F0955ED006F50E8F0A9C885433A9B2" Guid="{77B19335-9005-4FCC-8774-A02F100029F0}">
                <File Id="filADA49C8ECFB12433B02A629B2A96F0ED" KeyPath="yes" Source="$(var.BasePath)\XMLReportGenerator.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpB390CD138EA3F8F28243C33AA643362C" />
            <ComponentRef Id="cmpA1DADE033DA086D6F50350CADED089E2" />
            <ComponentRef Id="cmp0C6193128DFDCF67C2EDFFE1FE411796" />
            <ComponentRef Id="cmp72B786692EF88A61235E73E80FDE4DC4" />
            <ComponentRef Id="cmp9ED5873F52A382AFFBBF393B127F5AEB" />
            <ComponentRef Id="cmp23933E3CE783FCE27D79FA80EAC727C0" />
            <ComponentRef Id="cmpD372131F3D2197454CE0640C9C5D83C5" />
            <ComponentRef Id="cmp0FF1E35337B1530198AA421C5CB09066" />
            <ComponentRef Id="cmp4244B5C2319190BFFE1B080081185B59" />
            <ComponentRef Id="cmp86E320355224528281F6C78452CB8B72" />
            <ComponentRef Id="cmpE8DB306F64D4EE68557150AA220EF63F" />
            <ComponentRef Id="cmp32D69FB6561ED0BD64D8F18829B10663" />
            <ComponentRef Id="cmp01F0955ED006F50E8F0A9C885433A9B2" />
        </ComponentGroup>
    </Fragment>
</Wix>