<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="Login">
            <Component Id="cmpE55177B0DF7B460C990C95CA0E340D7D" Guid="{7165122B-E08A-4F4F-89F7-55F3A43E9E4B}">
                <File Id="fil90380982EF8230FE8CB1D857F1CD6483" KeyPath="yes" Source="$(var.BasePath2)\loginWindow.deps.json" />
            </Component>
            <Component Id="cmp01D974B2C166A0178D710D99DA87AC47" Guid="{49F1165E-2B3C-48AD-A73A-216DA0D959AB}">
                <File Id="fil80B68E532CDA5CBCECDF23CF41EBE4C0" KeyPath="yes" Source="$(var.BasePath2)\loginWindow.dll" />
            </Component>
            <Component Id="cmp4709B1785A1119336471518A03716232" Guid="{61649996-2559-47F6-BFAA-BDAF232973D8}">
                <File Id="fil676FA9FBB84508D50500F46B8AD3385C" KeyPath="yes" Source="$(var.BasePath2)\loginWindow.exe" />
            </Component>
            <Component Id="cmpA2BC7F361B8F9CFC27359A7122867C92" Guid="{35DE3A80-2B2A-4769-8435-BB905F7591B5}">
                <File Id="fil4C117C15DC4A903E886A6BC1B9474A31" KeyPath="yes" Source="$(var.BasePath2)\loginWindow.pdb" />
            </Component>
            <Component Id="cmp804E739A07F68F94D603543808096FBF" Guid="{E0BC2AA2-38F0-4D91-A238-E4927DE7A719}">
                <File Id="filC2C0DE3B73F0E4ADFFCC1E0E060F45D8" KeyPath="yes" Source="$(var.BasePath2)\loginWindow.runtimeconfig.json" />
            </Component>
            <Component Id="cmp0430BDEBDDF2751EE40B82899EE3FE21" Guid="{54755B7B-6602-43C7-9257-A8306E9CE211}">
                <File Id="fil7FB88037CBAD8C1BB556A7927D003D10" KeyPath="yes" Source="$(var.BasePath2)\registryData.dll" />
            </Component>
            <Component Id="cmp3D74224FF87291FE91391C9E125526B4" Guid="{07D8985E-15DE-4CB0-A33E-D3EE37E77124}">
                <File Id="fil8769E139DE4EE604D5292A7E0ABFB704" KeyPath="yes" Source="$(var.BasePath2)\registryData.pdb" />
            </Component>
            <Component Id="cmp5960CCB1725969D1BB9A9F9C9FB83FD9" Guid="{0434A2AD-5935-4037-A5D8-84694BECBC24}">
                <File Id="filE78FCD7F09C2369C5A75F3289E0073B8" KeyPath="yes" Source="$(var.BasePath2)\sni.dll" />
            </Component>
            <Component Id="cmpDE5EFBCB317CF48AD7FC3B3D5A6F4D0D" Guid="{B486F0A5-86DE-45E7-BFF6-32F85BE93D23}">
                <File Id="fil3380B39333359E54417FD9702D69532F" KeyPath="yes" Source="$(var.BasePath2)\System.Data.SqlClient.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponentsLogin">
            <ComponentRef Id="cmpE55177B0DF7B460C990C95CA0E340D7D" />
            <ComponentRef Id="cmp01D974B2C166A0178D710D99DA87AC47" />
            <ComponentRef Id="cmp4709B1785A1119336471518A03716232" />
            <ComponentRef Id="cmpA2BC7F361B8F9CFC27359A7122867C92" />
            <ComponentRef Id="cmp804E739A07F68F94D603543808096FBF" />
            <ComponentRef Id="cmp0430BDEBDDF2751EE40B82899EE3FE21" />
            <ComponentRef Id="cmp3D74224FF87291FE91391C9E125526B4" />
            <ComponentRef Id="cmp5960CCB1725969D1BB9A9F9C9FB83FD9" />
            <ComponentRef Id="cmpDE5EFBCB317CF48AD7FC3B3D5A6F4D0D" />
        </ComponentGroup>
    </Fragment>
</Wix>