<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

		<Directory Id="ProgramMenuFolder">
			<Directory Id="InstallProgramFolderMenu" Name="!(loc.ProductNameFolder)"></Directory>
		</Directory>
		
		<?if $(var.Platform)=x64?>
		<Directory Id="ProgramFiles64Folder">
			<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" >
				<Directory Id="POSStore" Name="POSStore"></Directory>
				<Directory Id="Login" Name="Login"></Directory>
			</Directory>
		</Directory>
		<?else?>
		<Directory Id="ProgramFilesFolder">
			<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" >
				<Directory Id="POSStore" Name="POSStore"></Directory>
				<Directory Id="Login" Name="Login"></Directory>
			</Directory>
		</Directory>
		<?endif?>
		<!--Pointing to program files folder-->
    </Directory>
  </Fragment>
</Wix>
